# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws

# VS Code
.vscode/
.apt_generated/
.apt_generated_tests/
.factorypath
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
 
# Mac
.DS_Store

# Windows
[Dd]esktop.ini
$RECYCLE.BIN/
 
# Maven
log/
target/