<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragment/layout}">

<head>
	<title>Main page</title>
</head>

<body>
	<section layout:fragment="content" class="movie-item container" th:each="movie : ${movies.keySet()}"
		th:unless="${movie.seances.empty}">
		<div class="jumbotron mb-3">
			<div class="row">
				<div class="col-md-4">
					<img src="/img/no-image.jpg" class="main-poster">
				</div>
				<div class="col-md-8">
					<h2 class="mb-3">[[ ${movie.title} ]]</h2>
					<div th:each="keyDate : ${movies.get(movie).keySet()}">
						<strong>[[ @{${#temporals.format(keyDate, "dd MMMM", #locale == new java.util.Locale('ua') ? new java.util.Locale('uk') : #locale)} + ', ' + ${#temporals.format(keyDate, 'cccc', #locale == new java.util.Locale('ua') ? new java.util.Locale('uk') : #locale)}} ]]</strong>
						<div class="card card-seances-time-block bg-light mb-4">
							<div class="card-body">
								<p class="card-text">
									<a th:each="seance : ${movies.get(movie).get(keyDate)}" th:href=" @{'/' + ${#locale} + '/seance/' + ${seance.id}}">[[ ${seance.getStartDateTime().toLocalTime()} ]]</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>